body {
    background-color: cyan;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 900;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 300;
}

.copy_right_footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img1{
    width: 500px;
}
